.bg-style{
    background-color:#202529;
    color: white !important;
}

.font2{
    color: #6e6f71;
    font-size: 1.25rem;
}

.font1{
    font-size: 48px;
    font-weight: 700;
}

.img-style{
    border:  #6e6f71;
    border-radius: 10px;
}

.font3{
    background-color: #f8f9fa;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}